body {
    font-family: Arial, sans-serif;
    padding: 0;

    width: 1200px;
    margin: 20px auto;
    color: white;
    border: 1px solid rgb(211, 211, 211);
}

header {
    background-color: dodgerblue;
    text-align: center;
    padding: 20px;
}

.container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.left-panel {
    display: flex;
    flex-direction: column;

    gap: 16px;
    background-color: rgb(209, 209, 209);
    padding: 10px;
    width: 370px;
}

.right-panel {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.top-bar,
.main-content {
    display: flex;

    gap: 20px;
}

.box {
    background-color: lightcoral;
    text-align: center;

    padding: 30px;
    border-radius: 5px;
}

footer {
    background-color: rgb(255, 80, 41);
    text-align: center;
}

footer p {
    padding: 30px 0;
    margin: 0;
    font-size: 14px;
}