* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.9) 2%,
            rgba(0, 0, 0, 0.6) 30%,
            rgba(0, 0, 0, 0.6) 50%,
            rgba(0, 0, 0, 0.8) 100%), url(assets/background.jpg);
    height: 100vh;
    width: 100%;
    max-width: 1920px;
    max-height: 1080px;
    margin-bottom: 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
}

nav .logo {
    width: 230px;
    margin-left: 190px;
}

nav .controls {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 190px;
}

#language {
    background-color: rgba(0, 0, 0, 0.225);
    color: white;
    border: 1px solid rgba(150, 150, 150, 0.5);
    padding: 10px 40px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.btn-sign-in {
    background-color: #e50914;
    color: white;
    text-decoration: none;
    padding: 10px 22px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
}

.btn-sign-in:hover {
    background-color: #c11119;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    padding: 0 580px;
    text-align: center;
}

.intro h1 {
    font-size: 60px;
    font-weight: 900;
}

.intro h2 {
    margin-bottom: 20px;
}

main {
    width: 100%;
    max-width: 1920px;
    margin-bottom: 100px;
}

.trending {
    padding: 0 195px;
    padding-bottom: 100px;
}

.carousel-container {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 30px;
}

main h2 {
    margin-bottom: 35px;
    font-size: 34px;
}

.movie-card {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.movie {
    width: 245px;
    border-radius: 10px;
}

.movie-next-btn {
    padding: 30px 5px;
    width: 25px;
    height: 120px;
    color: white;
    background-color: rgb(24, 24, 24);
    border: none;
    border-radius: 6px;
}

.movie-next-btn:hover {
    background-color: rgb(49, 49, 49);
}

.more-reasons {
    padding: 0 195px;
    margin-bottom: 200px;
}

.grid-container {
    display: flex;
    justify-content: space-between;
}

.feature-card {
    background-color: #192246;
    width: 325px;
    height: 380px;
    border-radius: 20px;
    padding: 20px;
    padding-top: 35px;
}

.feature-card p {
    font-size: 22px;
    color: rgb(185, 185, 185);
}

.bottom {
    padding: 0 195px;
}

.email-submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.email-submit p {
    font-size: 20px;
    margin-bottom: 20px;
}

.email-form {
    width: 100%;
    max-width: 1000px;
}

.input-group {
    display: flex;
    gap: 8px;
}

.input-group input[type="email"] {
    flex: 1;
    padding: 25px 20px;
    font-size: 20px;
    border: 1px solid rgba(255, 255, 255, 0.284);
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
}

.input-group input[type="submit"] {
    padding: 0 24px;
    background-color: #e50914;
    color: white;
    font-size: 30px;
    font-weight: 700;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.input-group input[type="submit"]:hover {
    background-color: #c11119;
}